.card{
  margin-top: 10px;
}

.footer {
    background-color: #2d2d2d;
    color: #fff;
    padding: 40px 0;
    text-align: center;
    font-family: 'Arial', sans-serif;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-container div {
    flex-basis: 30%;
  }
  
  .footer h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .footer p {
    font-size: 14px;
    line-height: 1.8;
  }
  
  .footer-links ul,
  .footer-social ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links ul li,
  .footer-social ul li {
    margin-bottom: 10px;
  }
  
  .footer-links ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-links ul li a:hover {
    color: #f4c10f;
  }
  
  .footer-social ul {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
  
  .footer-social ul li {
    margin: 0 10px;
  }
  
  .footer-social ul li a {
    color: #fff;
    font-size: 20px;
  }
  
  .footer-social ul li a:hover {
    color: #f4c10f;
  }
  
  .footer-bottom {
    background-color: #1a1a1a;
    padding: 15px 0;
    margin-top: 20px;
  }
  
  .footer-bottom p {
    margin: 0;
    font-size: 14px;
  }

  /* From Uiverse.io by adamgiebl */ 
.cssbuttons-io-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(
    0deg,
    rgba(20, 167, 62, 1) 0%,
    rgba(102, 247, 113, 1) 100%
  );
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  margin-left: 15px;
}

.cssbuttons-io-button svg {
  margin-right: 6px;
}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.price{
  color:red;
}
